@import url(./modecolor.css);
@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-desktop);
  font-family: 'BMJUA', sans-serif;
  font-weight: 100;
}

.container {
  margin: 0 15vw;
  padding-top: 60px;
  padding-bottom: 50px;
}

:root {
  --color-main-blue: #00aeff;
  --color-light-blue: #81D4FA;
  --color-background-beige: #F8F4EC;
  --color-background-black: #000000;
  --space-mobile-header: 60px;
  --space-mobile-menubar: 50px;
  --font-size-mobile : 12px;
  --font-size-desktop : 20px;
}

iframe {
  /* background-color: var(--color-background-black); */
  display: block;
}

/* .empty_header {
  height: var(--space-mobile-header);
} */

.header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* .empty_menubar {
  height: var(--space-mobile-menubar);
} */

.menubar {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: white;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.15);
}

@media screen and (max-width: 426px) {
  *{
    font-size: var(--font-size-mobile);
  }

  .container {
    margin: 0 10vw;
    padding-top: 10px;
    padding-bottom: 50px;
  
  }
}

