/* import font 구문 여기 넣어주세요! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-mobile);
}

.container {
  margin: 0 15vw;
  padding-top: 60px;
  padding-bottom: 50px;
}

:root {
  --color-main-blue: #00B0FF;
  --color-light-blue: #81D4FA;
  --color-background-beige: #F8F4EC;
  --color-background-black: #000000;
  --space-mobile-header: 60px;
  --space-mobile-menubar: 50px;
  --font-size-mobile : 12px;
  --font-size-desktop : 22px;
}

iframe {
  /* background-color: var(--color-background-black); */
  display: block;
}

/* .empty_header {
  height: var(--space-mobile-header);
} */

.header {
  position: fixed;
  top: 0;
}

/* .empty_menubar {
  height: var(--space-mobile-menubar);
} */

.menubar {
  position: fixed;
  bottom: 0;
}

@media screen and (max-width: 426px) {
  .container {
    margin: 0 10vw;
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width : 426px){
  *{
    font-size: var(--font-size-desktop);
  }
}