@import url(./default.css);

ul {
  list-style: none;
}

.poster_img {
  width: 100%;
  display: block;
}

.main_title {
  display: flex;
  justify-content: space-between;
}

.title_heart {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}

.title_heart p {
  font-size: 10px;
}

.main_rate {
  display: flex;
  justify-content: left;
  direction: rtl;
  border: 0;
}

.main_rate input[type=radio]{
  display: none;
}

/* 별점 CSS로 구현 -> JS로 수정 예정 */
.main_rate input[type=radio]:checked ~ label{
  text-shadow: 0 0 0 var(--color-main-blue);
}

.main_rate label {
  font-size: 20px;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
}

.main_rate label:hover {
  text-shadow: 0 0 0 var(--color-main-blue);
}

.main_rate label:hover ~ label{
  text-shadow: 0 0 0 var(--color-main-blue);
}

.main_story{
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main_story:hover {
  text-overflow: visible;
}

@media screen and (max-width: 426px) {
  .container h1 {
    margin: 3vh 0;
    font-size: 16px;
  }

  .main_rate label {
    font-size: 16px;
  }

  .info_ul {
    margin:3vh 0;
  }

  .info_ul li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* border: 1px solid; */
  }

  .info_ul p {
    font-size: 10px;
  }

  .main_story {
    margin: 3vh 0;
  }

  .main_teaser {
    margin: 5vh 0;
  }

  .recommend {
    margin-bottom: 10vh;
  }

  .recommend_contents {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
  }

  .contents_img {
    width: 100%;
    margin-left: 1vw;
  }

  .contents_img img {
    display: inline-block;
    width: 100px;
    object-fit: cover;
  }

  #contents_img01 {
    margin-left: 0;
  }
}
