#flowimg-container {
  overflow: hidden;
  position: relative;
  width: 200vw;
  height: 300vh;
  box-sizing: border-box;
  margin-bottom: 5vh;
}

.flowimg-box {
  width: 83%;
  height: 100%;
  display: flex;
  animation: bannermove 30s linear infinite;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-y: hidden;
  
}

.flowimg-box img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 0% 20%;
 
  padding-left: 8%;
}
.flowimg-box > div {
  margin: 0px 0px 0px 0px;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@media screen and (max-width: 426px) {  
  
  .flowimg img {
    width: 100px;
    height: 150px;
  }
}