@import url("./default.css");

@media screen and (max-width: 426px) {
  * {
    margin: 0;
    padding: 0;
  }

  #menubar {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }

  .menubar_icon {
    display: flex;
    justify-content: space-around;
  }

  .menubar_icon a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .menubar_icon i {
    color: #00B0FF;
    width: 100%;
    height: 100%;
  }
}
