/* #myprofile {
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 5px;
  height: 25vh;
  margin-top: 10px;
  padding-top: 33px;
  padding-bottom: 10px;
} */

/* .row {
  padding-top: 15px;
} */

/* #name {
  text-align: center;
  font-size: 40px;
} */

/* #modify {
  font-size: small;
  text-align: center;
  margin: 5px;
} */

/* #modify a:link {
  color: gray;
} */

/* #modify a:visited {
  color: gray;
} */

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding-top: 0px;
  border: 1px solid #00B0FF;
  border-radius: 10px;
  margin-bottom: 0px;
}

#name {
  margin-top: 10px;
  color : #095578 ;
  font-weight: bold;
}

.list-all-container-content .list{
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  width: 50vw;
  display: flex;
}

.list:hover {
  background-color: #86c9e8;
}

.list a{
  text-decoration: none;
}

.list a:link {
  color: #00B0FF;
}

.list a:visited {
  color: #00B0FF;
}

.list a:hover {
  color: white;
}

#profile-logout {
  margin: 5px;
  margin-top: 13px;
  background-color: #86c9e8;
  color: white;
  border-radius: 7px;
  padding: 3px;
  cursor: pointer;
  border: none;
}

#profile-logout:hover{
  background-color: white;
  color: #00B0FF;
}

#profile-edit{
  margin: 5px;
  background-color: #86c9e8;
  color: white;
  border-radius: 7px;
  padding: 3px;
  cursor: pointer;
  border: none;
}

#profile-edit:hover{
  background-color: white;
  color: #00B0FF;
}

#tmp1{
  margin: 50px;
  background-color: transparent;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
}

.tmp_img{
  border-radius:20%;
  border: 1px solid gray;
  margin: 20px;
  position: relative;
  padding: 11px;
}

.tmp_profile{
  padding-top: 15px;
  h1{
    font-size: 32px;
  }
}

.list-all-container-content{
  
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 426px) {
  .list-all-container-content {
    width: 100%;
  }

  #tmp1{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 30px;
  }

  .tmp_img{
    margin-left:10px;
    margin-right: 10px;
  }

  .tmp_profile{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
  }

  #name{
    font-size: 20px;
    font-weight: bold;
  }

  #profile-logout {
    margin: 5px;
    margin-top: 13px;
    background-color: #86c9e8;
    color: white;
    border-radius: 7px;
    padding: 3px;
    cursor: pointer;
    border: none;
  }

  #profile-edit{
    margin: 5px;
    background-color: #86c9e8;
    color: white;
    border-radius: 7px;
    padding: 4px;
    cursor: pointer;
    border: none;
  }
  
}