/* #myprofile {
  display: flex;
  justify-content: space-around;
  border: 1px solid gray;
  border-radius: 5px;
  height: 25vh;
  margin-top: 10px;
  padding-top: 33px;
  padding-bottom: 10px;
} */

/* .row {
  padding-top: 15px;
} */

/* #name {
  text-align: center;
  font-size: 40px;
} */

/* #modify {
  font-size: small;
  text-align: center;
  margin: 5px;
} */

/* #modify a:link {
  color: gray;
} */

/* #modify a:visited {
  color: gray;
} */

.list-all-container-content .list{
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.list:hover {
  background-color: #86c9e8;
}

.list a{
  text-decoration: none;
}

.list a:link {
  color: #00B0FF;
}

.list a:visited {
  color: #00B0FF;
}

.list a:hover {
  color: white;
}

#profile-logout {
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 3px;
  cursor: pointer;
  border: none;
}

#profile-logout:hover{
  background-color: white;
  color: black;
}

#profile-edit{
  margin: 5px;
  background-color: black;
  color: white;
  border-radius: 7px;
  padding: 3px;
  cursor: pointer;
  border: none;
}

#profile-edit:hover{
  background-color: white;
  color: black;
}

#tmp1{
  margin: 50px;
  background-color: transparent;
  justify-content: center;
  text-align: center;
  position: relative;
  display: flex;
}

.tmp_img{
  border-radius:20%;
  border: 1px solid gray;
  margin: 20px;
  position: relative;
  padding: 11px;
}

.tmp_profile{
  padding-top: 15px;
  h1{
    font-size: 32px;
  }
}

.list-all-container-content{
  padding-bottom: 50px;
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 426px) {
  .list-all-container-content {
    width: 100%;
  }
  .tmp_profile{
    padding-top: 35px;

    h1{
      font-size: 22px;
    }
  }
  
}