.toggleSwitch{
    width: 60px;
    margin: auto;
    height: 30px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: rgb(213, 208, 208);
    box-shadow: 0 0 16px 3px rgba(0 0 0 15%);
    cursor: pointer;
    float: right;
}

.toggleSwitch .toggleButton{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%); 
    border-radius: 50%;
    background-color: white;
}

.toggleSwitch.active {
    background-color: #00B0FF;
}

.toggleSwitch.active .toggleButton{
    left: calc(100% - 29px);
    background-color: white !important;
}

.toggleSwitch, .toggleButton{
    transition : all  0.22s ease-in;
}

.device-option-container{
    padding: 12px 12px;
    border: 1px solid rgba(128,128,128,0.4);
    border-radius: 8px;
    background-color: white;
    width: 700px;
    margin: auto;
}

.option-box{
    margin-bottom: 20px;
    margin-top: 10px;
}

#resolution-selector{
    background-color: transparent;
    border: none;
    border-radius: 10%;
    color: black;
    cursor: pointer;
    display: inline-block;
    float: right;
}

#option-trashcan{
    float: right;
    padding-top: 12px;
    padding-right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#option-down-arrow{
    float: right;
    padding-top: 12px;
    padding-right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.container{
    padding: 0 !important;
    margin-bottom: 20px;
}

#option-title{
    position: relative;
    left: 26.5%;
    font-size: 2rem;
    margin: 10px;
}

.option-device-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.option-device-list li{
    cursor: pointer;
}

.option-device-list.active{
    display: block;
}

@media (max-width: 450px){
    .device-option-container{
        width: 380px;
    }
    #option-title{
        left: 5%;
    }
    #resolution-selector{
        background-color: rgb(213, 208, 208);
    }
}