

@media screen and (max-width: 426px) {
  .container h1 {
    margin: 3vh 0;
    font-size: 16px;
  }

  .recommend {
    margin-bottom: 10vh;
  }

  .recommend_contents {
    display: flex;
    justify-content: space-between;
    overflow: scroll;
  }

  .contents_img {
    width: 100%;
    margin-left: 1vw;
  }

  .contents_img img {
    display: inline-block;
    width: 100px;
    object-fit: cover;
  }

  #contents_img01 {
    margin-left: 0;
  }
}