.recommend {
  margin-bottom: 5vh;
}

.recommend_contents {
  display: flex;
  /* height: 300px; */
  justify-content: space-between;
  overflow: scroll;
  overflow-y: hidden;
}

.contents_img {
  width: 100%;
  height: 300px;
  margin-left: 1vw;
}

.recommend_contents .contents_img:first-child {
  margin-left: 0;
}

.contents_img img {
  display: block;
  width: 200px;
  height: 300px;
  object-fit: fit;
}



@media screen and (max-width: 426px) {  

  .contents_img img {
    width: 100px;
    height: 150px;
  }
}